.container {
  height: 100vh;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.places-wrapper {
  display: flex;
  flex-direction: column;
}

.places-filter {
  display: flex;
  margin: 10px;
}

.card {
  margin: 5px;
}
