<div class="filter-wrapper">
  <button nz-button nz-dropdown [nzDropdownMenu]="priceMenu" [ngClass]="['filter', selectedValue !== 0 ? 'selected' : '']">
    <span class="filtered google-symbols onfiltered"></span>
    {{currentDisplayText}}
    <span class="down google-symbols"></span>
  </button>
  <nz-dropdown-menu #priceMenu="nzDropdownMenu">
    <ul nz-menu>
      <ng-template ngFor let-option [ngForOf]="availableOptions" let-i=index>
        <li nz-menu-item clickable (click)="setValue(option)">{{ option[0] }}</li>
      </ng-template>
      
    </ul>
  </nz-dropdown-menu>
</div>
