<nz-layout class="layout">
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo">
      <img src="assets/BizTravel_transparent.svg" alt="" />
    </div>
    <ul nz-menu nzMode="inline">
      <li nz-menu-item>
        <span nz-icon nzType="save" nzTheme="outline"></span>
        <span>Saved</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="environment" nzTheme="outline"></span>
        <span>Location Sharing</span>
      </li>
      <!-- <li nz-submenu nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li> -->
      <li nz-menu-item>
        <span nz-icon nzType="edit" nzTheme="outline"></span>
        <span>Your Contributions</span>
      </li>
    </ul>
    <app-twitter-connect></app-twitter-connect>
  </nz-sider>
  <nz-layout>
    <nz-header class="header"> <h1>BizTravel</h1></nz-header>
    <nz-content style="margin: 0px">
      <div class="container">
        <nz-tabset nzCentered>
          <nz-tab nzTitle="Pick your favorite spot">
            <app-places-container class="places"></app-places-container>
          </nz-tab>
          <nz-tab nzTitle="Schedule your itinerary">
            <app-itinary-schedule></app-itinary-schedule>
          </nz-tab>
        </nz-tabset>

        <app-map class="map"></app-map>
      </div>
    </nz-content>
    <!-- <nz-footer>
      <app-text-form></app-text-form>
    </nz-footer> -->
  </nz-layout>
</nz-layout>
<!-- (nzSelect)="placeContainerSelected($event)"
(nzSelect)="itinarySelected($event)" -->
